body {
  font-family: "Karla", sans-serif;
  margin: 20px auto 0 auto;
  width: 70%;

}
*{
    box-sizing: border-box;
}
p{
    font-family: 'Inter', 'sana-serif';
    font-size: 16px;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #007f46;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
li{
    margin-top: 20px;
}
pre.code-block {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
}

code {
  display: flex;
  width: fit-content;
  align-items: center;
  
  gap: 2em;
  background-color: #333;
  color: white;
  padding: 3px 6px;
  border-radius: 6px;
}

code > p {
    font-size: 13.5px;
}

code > i{
    cursor: pointer;
}

footer{
    
    padding: 16px 32px;
    text-align: center;
    background-color: whitesmoke;
    margin-top: 16px;
    
}
#message{
  position: fixed;
  background-color: #007f46;
  color: white;
  padding: 4px 20px;
  display: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px black;
  right: 5%;
  bottom: 2%;

}

@media(max-width: 724px){
    body{
        width: 90%;
    }
}